<html>

<body>

Humuhumunukunukuapuaa - The reef, rectangular, or wedge-tail triggerfish; Salt
<img src=http://upload.wikimedia.org/wikipedia/commons/5/52/Reef_Triggerfish_1.JPG height="400" width="300">
<a href="http://en.wikipedia.org/wiki/Reef_triggerfish">wikifishies</a>
<br>
Clown -  Fishes from the subfamily Amphiprioninae in the family Pomacentridae; Salt
<img src=http://images.nationalgeographic.com/wpf/media-live/photos/000/005/cache/clown-fish_500_600x450.jpg height="400" width="300">
<a href="http://en.wikipedia.org/wiki/Clown_fish">wikifishies</a>
<br>
Angler - They are bony fishes named for their characteristic mode of predation, in which a fleshy growth from the fish's head (the esca or illicium) acts as a lure; Salt
<img src=http://nature.ca/explore/di-ef/images/di-ef_466GP_deep3_anglerhr.jpg height="400" width="300">
<a href="http://en.wikipedia.org/wiki/Angler_fish">wikifishies</a>
<br>
<br>
<a href='/'>Go back to the reef</a>

</body>

</html>